* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Inter';
    background-color: #000000;
    list-style: none;
    overflow-y: hidden;
    outline: none;

}

#header-global {
    display: flex;
    flex-flow: row wrap;

    width: 100vw;
    height: 100px;
    background-color: #212221;
}

#logo {
    position: relative;
    left: 50px;
}

#global {
    display: flex;
    flex-direction: row wrap;
    width: 100vw;
    height: auto;

}

#side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3C3C3C;
    color: white;
    width: 300px;
    padding: 25px;
    height: 100vh;

}

.side-menu {
    margin-top: 25px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;



}

.side-menu button {
    width: 100%;
    font-family: 'Inter';
    font-weight: 700;
    background-color: black;
    color: white;
    text-align: start;
    padding: 15px;
    border: none;

}

.line-nav {
    border-top: 1px solid red;

}

#add-task {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#remove-task {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#add-task:hover {
    background-color: #ffff;
    color: #000;
}

#remove-task:hover {
    background-color: red;
}
#excluir{
    background-color: red;
    border: none;
    width: 150px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 130px;
    margin-bottom: 15px;

}
#body-content {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    align-items: center;
}

#area-task {
    display: flex;
    flex-flow: column;
    gap: 15px;
    height: 400px;
    overflow-y: visible;
}

.task {
    display: flex;
    flex-flow: column;
    width: 800px;
    padding: 15px;
    border-radius: 10px;

    background-color: rgb(233, 233, 233);
}

.task h1 {
    font-size: 25px;
    text-overflow: ellipsis;
}

.task h2 {
    font-size: 20px;
    text-overflow: ellipsis;
}

.task p {
    font-size: 15px;
    text-overflow: ellipsis;
}

.btn-taskV {
    align-self: end;
    display: flex;
    border: none;
    color: #ffff;
    padding: 15px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #000;
}

#box-addTask {
    left: 500px;
    width: 500px;
    height: auto;
    display: flex;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    z-index: 1;


}


#form-addTask {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 250px;
    justify-content: center;
}

#form-addTask input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-addTask input[type=text]:hover {
    box-shadow: 1px 0px 10px 0px rgb(120, 194, 71);
}

#descriTask-inpt:hover {
    box-shadow: 1px 0px 10px 0px rgb(120, 194, 71);
}

#form-addTask input[type=text]:focus {
    box-shadow: 1px 0px 10px 0px rgb(120, 194, 71);
}

#descriTask-inpt:focus {
    box-shadow: 1px 0px 10px 0px rgb(120, 194, 71);
}

#descriTask-inpt {
    max-width: 450px;
    width: 450px;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 600px;

}

#form-addTask input[type=submit] {
    width: 25%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(78, 228, 78);
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 8px 0;
    display: block;
}
.box-task{
    display: flex;
    gap: 15px;
}